.App {
  text-align: center;
  background-color: sandybrown;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page{
  max-width: 800px;
  align-content: center;
  margin: 0 auto;
  background-color: whitesmoke;
  min-height: 1000px;
}
